.Sist {
    display: flex;
    position: relative;
    left: -0px;
    margin-top: -1px;
    justify-content: space-between;
    align-items: center;
    background-color: #172554;
    color: #fff;
    padding: 15px;
   
    
}

.Usina {
   margin-left: 20px;
    font-size: 30px;

   
}

.form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: absolute;
    margin-top: 40px;
    margin-left: 200px;
    background-color: #fff;
    padding: 100px;
    border-radius: 5px;
    

   
}

body {
   background-image: url("/images/Foto-usina.webp");
   background-repeat: no-repeat;
   background-size: 1800px 900px;

}

#btn {
    padding: 2px 10px;
    margin-top: -5px;
    background-color: #087f5b;
    border-color: #087f5b;
    
    
}

.form-control {
        margin-top: -20px;
        font-size: 15px;
    }

#conta {
   background-color: #087f5b; 
   border-color: #087f5b;
   margin-top: 13px;
   
   }


#usu {
    display: flex;
    position: absolute;
}